.userCard {
  display: grid;
  grid-template-columns: 6em 1fr 1fr 1fr;
  grid-template-rows: minmax(2em, auto) minmax(2em, auto) minmax(1.7em, auto);
  grid-template-areas:
    'avatar username name .'
    'avatar articles comments .'
    'avatar aScore cScore tScore';
  column-gap: 1em;
  margin-bottom: 1em;
  align-items: center;
  padding-left: 0.5em;
}

.userCard * {
  display: inline;
}

h2,
p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.userAvatar {
  grid-area: avatar;
  height: 100%;
  width: 100%;
}

.userAvatar > img {
  max-height: 100%;
  max-width: 100%;
}

.userUsername {
  grid-area: username;
}

.userName {
  grid-area: name;
}

.userCommentCount {
  grid-area: comments;
}

.userArticleCount {
  grid-area: articles;
}

.articleScore {
  grid-area: aScore;
}

.commentScore {
  grid-area: cScore;
}

.totalScore {
  grid-area: tScore;
}
