.articleCard {
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr;
  grid-template-rows: 2em 2em 2em;
  grid-template-areas:
    'upvote title title title'
    'votes author topic time'
    'downvote comments delete .';
}

.articleCard > * {
  display: flex;
  align-items: center;
}

.articleCardUpvote {
  grid-area: upvote;
}

.articleCardDownvote {
  grid-area: downvote;
}

.articleCardVotes {
  grid-area: votes;
}

.articleCardTitle {
  grid-area: title;
}

.articleCardTitle > h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleCardAuthor {
  grid-area: author;
}

.articleCardTopic {
  grid-area: topic;
}

.articleCardTime {
  grid-area: time;
}

.articleCardComments {
  grid-area: comments;
}

.articleCardDelete {
  grid-area: delete;
}

.commentIcon {
  height: 1.5em;
}
