.articleCard {
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'upvote title title title'
    'votes author topic time'
    'downvote comments comments delete';
  align-items: center;
  grid-gap: 5px;
}

.votes {
  justify-self: center;
}

.articleCardTitle {
  grid-area: title;
}

.articleCardTitle > h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleCardAuthor {
  grid-area: author;
}

.articleCardTopic {
  grid-area: topic;
}

.articleCardTime {
  grid-area: time;
}

.articleCardComments {
  grid-area: comments;
}

.articleCardDelete {
  grid-area: delete;
}

.commentIcon {
  height: 1.5em;
}
