body {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-areas: '. root .';
}

#root {
  grid-area: root;
  display: grid;
  max-width: 900px;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header header login'
    'nav main main';
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

header {
  grid-area: header;
}

#login {
  grid-area: login;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

main {
  grid-area: main;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 4em;
  margin: 0;
  padding: 0;
  color: navy;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1:hover {
  text-decoration: none;
}

#login > * {
  margin: 0;
  padding: 0;
}

.loadingImg {
  display: block;
  margin: auto;
  padding-top: 100px;
}

.upvote {
  /* align-items: ; */
}

.userIsAuthor {
  color: green;
}

.userIsAuthor a {
  color: green;
}

#sortControls {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: '. sort order';
}

#sortLabel {
  grid-area: sort;
  padding: 5px;
}

#orderLabel {
  padding: 5px;
  grid-area: order;
}
