body {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: '. root .';
}

#root {
  grid-area: root;
  display: grid;
  max-width: 1000px;
  min-width: 700px;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header header login'
    'nav main main';
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

header {
  grid-area: header;
  align-self: center;
  padding-left: 1em;
}

#normalLogin {
  grid-area: login;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  align-items: flex-end;
  padding-left: 5px;
}

main {
  grid-area: main;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#loginLink {
  display: none;
}

@media (max-width: 740px) {
  body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 'root';
    font-size: smaller;
  }

  #root {
    grid-area: root;
    display: grid;
    min-width: 315px;
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'nav'
      'login'
      'main';
    grid-row-gap: 10px;
  }

  nav {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    justify-self: center;
    align-self: center;
    padding-left: 0;
    flex-wrap: wrap;
  }

  nav > a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
  }

  #loginLink {
    display: inline;
  }

  header {
    justify-self: center;
    align-self: center;
    padding-left: 0;
    font-size: smaller;
  }

  #normalLogin {
    display: none;
  }

  main {
    overflow: visible;
    margin-left: 0.2em;
  }
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 4em;
  margin: 0;
  padding: 0;
  color: #bf4e30;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1:hover {
  text-decoration: none;
}

.loadingImg {
  display: block;
  margin: auto;
  padding-top: 100px;
}

.userIsAuthor {
  color: green;
}

.userIsAuthor a {
  color: green;
}

#sortControls {
  display: flex;
  padding-bottom: 1em;
  flex-direction: row;
  flex-wrap: wrap;
}

#sortLabel {
  padding: 5px;
}

#orderLabel {
  padding: 5px;
}

.vote {
  height: 1em;
  justify-self: center;
}

.card > .vote {
  height: 0.8em;
}

.votes {
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.upvote {
  grid-area: upvote;
  align-self: end;
}

.downvote {
  grid-area: downvote;
  align-self: start;
}

.upvote.hoverable:hover {
  filter: invert(61%) sepia(18%) saturate(5548%) hue-rotate(78deg) brightness(110%) contrast(130%) opacity(50%);
  cursor: pointer;
}

.downvote.hoverable:hover {
  filter: invert(20%) sepia(79%) saturate(7452%) hue-rotate(357deg) brightness(90%) contrast(125%) opacity(50%);
  cursor: pointer;
}

.upvote.selected {
  filter: invert(61%) sepia(18%) saturate(5548%) hue-rotate(78deg) brightness(110%) contrast(130%);
}

.downvote.selected {
  filter: invert(20%) sepia(79%) saturate(7452%) hue-rotate(357deg) brightness(90%) contrast(125%);
}

.pending {
  filter: none;
}

.pending:hover {
  filter: none;
}

.card * {
  padding: 0;
  margin: 0;
}

.votes {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.card {
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.card:hover {
  background-color: silver;
}

#postArticle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
}

#postArticle > * {
  margin-bottom: 1em;
}

#postArticle > textarea {
  width: 95%;
}
