.article {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    '. title title title'
    'upvote title title title'
    'votes title title title'
    'downvote author topic time'
    'body body body body';
  align-items: center;
  justify-items: start;
  grid-gap: 5px;
}

.article * {
  padding: 0;
  margin: 0;
}

.articleUpvote {
  font-size: 1.2em;
  grid-area: upvote;
}

.articleDownvote {
  font-size: 1.2em;
  grid-area: downvote;
}

.articleVotes {
  font-size: 1.2em;
  justify-self: center;
  grid-area: votes;
}

.articleTitle {
  grid-area: title;
  font-size: 2em;
}

.articleAuthor {
  grid-area: author;
}

.articleTopic {
  grid-area: topic;
}

.articleTime {
  grid-area: time;
}

.articleComments {
  grid-area: comments;
}

.articleBody {
  grid-area: body;
  padding-top: 10px;
  font-size: 1.1em;
}

.commentCard {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr;
  grid-template-rows: 1.5em 1.5em auto;
  grid-template-areas:
    'upvote author time delete'
    'votes body body body'
    'downvote body body body';
  margin-bottom: 15px;
  align-items: center;
}

.commentCard > * {
  padding: 0;
  margin: 0;
}

.commentAuthor {
  grid-area: author;
}

.commentTime {
  grid-area: time;
}

.commentDelete {
  grid-area: delete;
}

.commentBody {
  grid-area: body;
}

.commentVotes {
  grid-area: votes;
  justify-self: center;
}

#newCommentForm {
  padding-bottom: 30px;
}

#newCommentForm h4 {
  margin: 0;
  padding: 2px;
}

#newCommentForm button {
  margin-right: 10px;
}

#commentInput {
  width: 100%;
  height: 6em;
}

#postedComment {
  width: 100%;
  height: 3em;
  color: green;
}
